# SPDX-License-Identifier: Apache-2.0
# Copyright 2025 Canonical Ltd.
name: Build BESS and test

on:
  workflow_call:
    inputs:
      branch_name:
        description: "Name of the branch to checkout"
        required: false
        type: string
        default: ${{ github.ref }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch_name }}

      - name: Setup environment (Hugepages)
        run: |
          sudo sysctl -w vm.nr_hugepages=512

      - name: Setup dependencies
        run: |
          sudo apt-get install -y ccache libbpf-dev libgflags-dev libpcap-dev libgrpc++-dev
          sudo pip3 install -r requirements.txt
          yes n | ./env/rebuild_images.py jammy64
          sudo mkdir -p /mnt/huge
          sudo mount -t hugetlbfs nodev /mnt/huge
          export CXX="ccache $VER_CXX"
          ccache -s

      - name: Build BESS
        run: |
          sudo ./container_build.py bess
          sudo ./container_build.py kmod_buildtest

      - name: Test BESS
        run: |
          (cd core && ./all_test)
          coverage run -m unittest discover -v
          python3 bessctl/run_module_tests.py
          sudo python3 bessctl/run_module_tests.py --test_dir bessctl/module_tests/cndp
          ccache -s
          bessctl/bessctl daemon stop
          [[ ${COVERAGE:-0} == 0 ]] || { sleep 3; codecov --gcov-exec gcov-7; }
