# Copyright 2025 Canonical Ltd.
# SPDX-FileCopyrightText: 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
name: Branch Release

on:
  workflow_call:
    inputs:
      release_branch:
        required: true
        type: string
      version_branch:
        required: true
        type: string

jobs:
  branch-release:
    runs-on: ubuntu-latest
    if: ${{ inputs.release_branch == 'true' }}
    steps:
      - uses: actions/checkout@v5

      - uses: peterjgrainger/action-create-branch@v3.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GH_OMEC_PAT }}
        with:
          branch: "rel-${{ inputs.version_branch }}"
