# SPDX-License-Identifier: Apache-2.0
# Copyright 2025 Canonical Ltd.
name: Build

on:
  workflow_call:
    inputs:
      branch_name:
        description: "Name of the branch to checkout"
        required: false
        type: string
        default: ${{ github.ref }}
      build_directory:
        description: "Directory where to run the build command from"
        required: false
        type: string
        default: '.'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.branch_name }}

      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Build
        run: |
          cd ${{ inputs.build_directory }}
          go build ./...
