# SPDX-License-Identifier: Apache-2.0
# Copyright 2025 Canonical Ltd.
name: Docker Build

on:
  workflow_call:
    inputs:
      branch_name:
        description: "Name of the branch to checkout"
        required: false
        type: string
        default: ${{ github.ref }}
      docker_env_vars:
        description: "Extra environment variables for docker"
        required: false
        type: string
        default: ""

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch_name }}

      - name: Build Docker image
        run: ${{ inputs.docker_env_vars }} make docker-build
