# Copyright 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
name: Make target

on:
  workflow_call:
    inputs:
      branch_name:
        description: "Name of the branch to checkout"
        required: false
        type: string
        default: ${{ github.ref }}
      python_version:
        description: "Python version to use"
        required: false
        type: string
        default: "3.12"
      target:
        description: "make target to run"
        required: false
        type: string
        default: ""

jobs:
  make-target:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.branch_name }}

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python_version }}

      - run: make ${{ inputs.target }}
