# Copyright 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
name: Publish docs

on:
  workflow_call:
    inputs:
      branch_name:
        description: "Name of the branch to checkout"
        required: false
        type: string
        default: ${{ github.ref }}
      python_version:
        description: "Python version to use"
        required: false
        type: string
        default: "3.12"

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'omec-project'
    concurrency:
      group: "pages"
      cancel-in-progress: false
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    env:
      BUILD_OUTPUT_PATH: _build/multiversion/
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.branch_name }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python_version }}

      - name: Build docs
        run: make multiversion

      - name: List built files
        run: ls -la $BUILD_OUTPUT_PATH

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ${{ env.BUILD_OUTPUT_PATH }}

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
