# Copyright 2025 Canonical Ltd.
# SPDX-FileCopyrightText: 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
name: Unit tests

on:
  workflow_call:
    inputs:
      branch_name:
        description: "Name of the branch to checkout"
        required: false
        type: string
        default: ${{ github.ref }}
      test_flags:
        description: "Additional flags for the go test command"
        required: false
        type: string
        default: ""
      test_directory:
        description: "Directory for the go test command"
        required: false
        type: string
        default: "./..."
      env_vars:
        description: "Custom environment variables to set in the go test command"
        required: false
        type: string
        default: ""

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.branch_name }}

      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Unit tests
        run: ${{ inputs.env_vars }} go test ${{ inputs.test_flags }} ${{inputs.test_directory}}
