# Copyright 2025 Canonical Ltd.
# SPDX-FileCopyrightText: 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
name: Update Version

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      changed:
        required: true
        type: string

jobs:
  update-version:
    runs-on: ubuntu-latest
    if: ${{ inputs.changed == 'true' }}
    steps:
      - uses: actions/checkout@v6

      - name: Increment version
        run: |
          version=${{ inputs.version }}
          IFS='.' read -r major minor patch <<< "$version"
          patch_update=$((patch+1))
          NEW_VERSION="$major.$minor.$patch_update-dev"
          echo $NEW_VERSION > VERSION

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GH_OMEC_PAT }}
          commit-message: Update version
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          signoff: true
          branch: version-update
          title: Update version
          body: |
            Update VERSION file
          add-paths: |
            VERSION
