# SPDX-FileCopyrightText: 2025-present Intel Corporation
# Copyright 2025 Canonical Ltd.
# SPDX-License-Identifier: Apache-2.0
name: UPF Release images

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      changed:
        required: true
        type: string
      docker_registry:
        description: "Docker Registry URL"
        default: "docker.io"
        type: string
      docker_repository:
        description: "Docker Repository"
        default: "omecproject/"
        type: string
      github_registry:
        description: "GitHub Container Registry URL"
        default: "ghcr.io"
        type: string
      branch_name:
        description: "Name of the branch to checkout"
        required: false
        type: string
        default: "main"

jobs:
  release-image:
    runs-on: ubuntu-latest
    if: ${{ inputs.changed == 'true' }}
    strategy:
      matrix:
        cpu: [haswell, ivybridge]
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.docker_registry }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.github_registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push to Docker Hub
        env:
          DOCKER_TAG: ${{ matrix.cpu == 'ivybridge' && format('rel-{0}-ivybridge', inputs.version) || format('rel-{0}', inputs.version) }}
          DOCKER_REGISTRY: ${{ inputs.docker_registry }}/
          DOCKER_REPOSITORY: ${{ inputs.docker_repository }}
          CPU: ${{ matrix.cpu }}
        run: |
          CPU=$CPU make docker-build
          make docker-push

      - name: Build and Push to GitHub Container Registry
        env:
          DOCKER_TAG: ${{ matrix.cpu == 'ivybridge' && format('rel-{0}-ivybridge', inputs.version) || format('rel-{0}', inputs.version) }}
          DOCKER_REGISTRY: ${{ inputs.github_registry }}/
          DOCKER_REPOSITORY: ${{ github.repository_owner }}/
          CPU: ${{ matrix.cpu }}
        run: |
          docker pull ${DOCKER_REGISTRY}${DOCKER_REPOSITORY}upf-epc-bess:$DOCKER_TAG || true
          docker pull ${DOCKER_REGISTRY}${DOCKER_REPOSITORY}upf-epc-pfcpiface:$DOCKER_TAG || true
          CPU=$CPU make docker-build
          make docker-push
