# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2025 Intel Corporation
# Copyright 2025 Canonical Ltd.
name: Release images

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      changed:
        required: true
        type: string
      aether_registry:
        description: "Aether Registry URL"
        default: "registry.aetherproject.org"
        type: string
      aether_repository:
        description: "Aether Repository"
        default: "sdcore/"
        type: string
      docker_registry:
        description: "Docker Registry URL"
        default: "docker.io"
        type: string
      docker_repository:
        description: "Docker Repository"
        default: "omecproject/"
        type: string
      branch_name:
        description: "Name of the branch to checkout"
        required: false
        type: string
        default: "main"

jobs:
  release-image:
    runs-on: ubuntu-latest
    if: ${{ inputs.changed == 'true' }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Login to Docker Hub
        uses: docker/login-action@v3.4.0
        with:
          registry: ${{ inputs.docker_registry }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Push to Docker Registry for Haswell CPU
        env:
          DOCKER_TAG: ${{ inputs.version }}
          DOCKER_REGISTRY: ${{ inputs.docker_registry }}/
          DOCKER_REPOSITORY: ${{ inputs.docker_repository }}
          CPU: haswell
        run: |
          CPU=$CPU make docker-build
          make docker-push

      - name: Build and Push to Docker Registry for Ivybridge CPU
        env:
          DOCKER_TAG: ${{ inputs.version }}-ivybridge
          DOCKER_REGISTRY: ${{ inputs.docker_registry }}/
          DOCKER_REPOSITORY: ${{ inputs.docker_repository }}
          CPU: ivybridge
        run: |
          CPU=$CPU make docker-build
          make docker-push

      - name: Login to Aether Registry
        uses: docker/login-action@v3.4.0
        with:
          registry: ${{ inputs.aether_registry }}
          username: ${{ secrets.AETHER_REGISTRY_USERNAME }}
          password: ${{ secrets.AETHER_REGISTRY_PASSWORD }}

      - name: Build and Push to Aether Registry
        env:
          DOCKER_TAG: ${{ inputs.version }}
          DOCKER_REGISTRY: ${{ inputs.aether_registry }}/
          DOCKER_REPOSITORY: ${{ inputs.aether_repository }}
          CPU: haswell
        run: |
          docker pull ${DOCKER_REGISTRY}${DOCKER_REPOSITORY}upf-epc-bess:$DOCKER_TAG
          docker pull ${DOCKER_REGISTRY}${DOCKER_REPOSITORY}upf-epc-pfcpiface:$DOCKER_TAG
          CPU=$CPU make docker-build
          make docker-push

      - name: Build and Push to Aether Registry for Ivybridge CPU
        env:
          DOCKER_TAG: ${{ inputs.version }}-ivybridge
          DOCKER_REGISTRY: ${{ inputs.aether_registry }}/
          DOCKER_REPOSITORY: ${{ inputs.aether_repository }}
          CPU: ivybridge
        run: |
          docker pull ${DOCKER_REGISTRY}${DOCKER_REPOSITORY}upf-epc-bess:$DOCKER_TAG
          docker pull ${DOCKER_REGISTRY}${DOCKER_REPOSITORY}upf-epc-pfcpiface:$DOCKER_TAG
          CPU=$CPU make docker-build
          make docker-push
