# SPDX-License-Identifier: Apache-2.0
# Copyright 2025 Canonical Ltd.
name: Build UPF

on:
  workflow_call:
    inputs:
      branch_name:
        description: "Name of the branch to checkout"
        required: false
        type: string
        default: ${{ github.ref }}

jobs:
  build-upf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.branch_name }}

      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Generate protobuf
        run: make pb

      - name: Build the BESS-UPF Docker image
        run: DOCKER_TARGETS=bess make docker-build

      - name: Build the PFCP Agent Docker image
        run: DOCKER_TARGETS=pfcpiface make docker-build
